@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

body {
    color: whitesmoke;
    background: rgb(41, 38, 38);
    text-align: center;
    font-family: Raleway;
}

#logo {
    width: 150px;
    height: 150px;
}
.Playlist {
    text-align: center;
    padding: 10px;
}
.button {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border: none;
    font-family: Montserrat;
    font-weight: bold;
    background-color: #1db954;
    color: rgb(41, 38, 38);
}
.btn {
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    border: none;
    font-family: Montserrat;
}
.Playlist_form {
    padding: 10px;
    font-family: Montserrat;
}
.Success {
    color: whitesmoke;
    text-align: center;
}